body {
  background-color: rgb(71, 71, 71);
}

h1 {
  border: 2px solid black;
  background-color: rgb(255, 93, 29);
  margin-left: 5px;
  margin-top: 5px;
}

.instructions {
  border: 2px solid black;
  background-color: beige;
  color: black;
  margin-left: 20px;
}

.randomNum {
  border: 2px solid black;
  background-color: rgb(17, 196, 17);
  color: black;
  margin-left: 20px;
}

.WL {
  border: 2px solid black;
  background-color: white;
  margin-left: 20px;
}

.totalScore {
  border: 2px solid black;
  background-color: rgb(77, 227, 247);
  color: black;
  margin-left: 20px;
}